<!DOCTYPE html>
<html>
<head cat-store="Head"></head>
<body class="catBody">
    <link rel="stylesheet" href="/tests-style.css">
    <cat-test-pages id="js-cat-test-pages" cat-store="test_stores/TestPages"></cat-test-pages>
</body>
</html>
