<!DOCTYPE html>
<html>
<head cat-store="Head"></head>
<body>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    <cat-test-case id="js-cat-test-case" cat-store="test_stores/TestCase"></cat-test-case>
</body>
</html>
